*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family:times;
}
body{
    background-image: url(/hello/Screenshot_2024-06-22-16-55-31-282-edit_com.frontrow.vlog.jpg);
    background-position:top ;
    background-size:100%;
    background-repeat:no-repeat;
    width:100%;
    
}
.container{
    width:100%;
    height:100vh;
    background-position: center;
    background-size: cover;
    
    padding-top: 1px;
    padding-right: 8%;   
}
nav{
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 1px;
    padding-left: 14%;
}
.logo{font-size: 50px;
color:red;
margin-left: 30px;
margin-top:48px;
}
.logo span{
    color:green;
}
nav ul li {
    display: inline-block;
    list-style: none;
    transition: 0.5s;
    align-items:normal;
    margin-right: 7px;
    color: aqua;
    padding: 6px;
}
nav ul li a{
    color:#fff;
    text-decoration: none;
    transition: 0.5s;
    font-size: large;
    color: blue;
}
nav ul li a:hover{
    color:red;
}
.content{
   margin-top: 10px;
}
.content h3{
    font-size:30px;
}
.content h2{
    font-size: 40px;
    align-content:center ;
}
.content h1{
    font-size: 25px;
    align-content:right;
}
.hire{

    color: #fff;
    background: #f9004d;
    text-decoration: none;
    padding: 15px;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.5s;
    margin-left: 255px;
    margin-top: 25px;
    
}
.hire:hover{
    color:#fff;
    background: darkred;
    border: solid#fff;
}
.home{
    margin-top: 40px;
    padding-bottom: 20px;}
body {
  display: flex;
}

.typewriter h1 {  color: #fff;overflow: hidden; border-right: .0em dotted ;white-space: nowrap; margin: 0 auto;   letter-spacing: .0em;   animation: 
    typing 2.5s steps(30,end),
    blink-caret .5s step-end infinite;
}
@keyframes typing {
  from { width: 0 }
  to { width: 80% }
}


@keyframes blink-caret {
  from, to { border-color: transparent}
  50% { border-color: orange }
}